@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: 'Playfair Display', serif;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fafaf9; /* stone-50 */
}

::-webkit-scrollbar-thumb {
  background: #a8a29e; /* stone-400 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78716c; /* stone-500 */
}

